.features {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  max-width: 100%;
  &__box {
    display: flex;
    flex-direction: column;
    &__thumbnail {
      max-width: 350px;
    }
    &__title {
      margin-top: 20px;
      font-size: 1.5rem;
      text-align: center;
      font-weight: 700;
    }
  }
}

@media screen and (min-width: 768px) {
  .features {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    &__box {
      &__title {
        font-size: 2rem;
        text-align: left;
      }
    }
  }
}